@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color:black;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.main .icon {
  width: 44px;
}
.main h3 {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 10px 0 -18px;
  
}

.main h4{
color: white;

}


.main label {
  color: #ffff;
  font-weight: bold;
  margin-top: -2px;
}

.ai {
  margin-bottom: 36px;
  font-family: system-ui;
  color: #ffff;
  font-size: 14px;
  letter-spacing: .10em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #ffff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-delay: 2s;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"],
.main input[type="number"], 
.main select {
  padding: 12px 16px;
  border: 0.5px solid #9dc45c;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-top: 4px;
  outline-color: #9dc45c;
  opacity: 0.4;
  
}

.main ::placeholder {
  font-size: 14px;
  color: black;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #9dc45c;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-top: 4px;
}
.main input[type="submit"]:hover {
  color: #9dc45c;
  background-color: #fff;
  border: 1px solid #9dc45c;
  cursor: pointer;
}

.main .loading {
  width: 50px;
}

.main .result {
  color: white;
  font-weight: bold;
  margin-top: 40px;
  width: 500px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffff; }
}

/* If the screen size is 375px wide or less, set max width */
@media only screen and (max-width: 500px) {
  .main .result {
    width: 350px;
  }
}